
Sokoban/.vs/Sokoban/v16/TestStore/0/testlog.manifest
Sokoban/.vs/Sokoban/v16/Server/sqlite3/db.lock
Sokoban/.vs/Sokoban/v16/Server/sqlite3/storage.ide
Sokoban/.vs/Sokoban/v16/Server/sqlite3/storage.ide-shm
Sokoban/.vs/Sokoban/v16/Server/sqlite3/storage.ide-wal
*.testlog
*.cache
*.cache
Sokoban/Sokoban/obj/Debug/Sokoban.csproj.FileListAbsolute.txt
